.bg-img1{
  background-color: #000;
  background-size: cover;
  background-image: url("R.jpg");
}
.bg-img1{
  background-color: #000;
  background-size: cover;
  background-image: url("OIP.jpg");
}
.bg-img1{
  background-color: #000;
  background-size: cover;
  background-image: url("img_tree.gif");
}

